.goal-card {
  border: 1px solid #ccc;
  border-radius: 18px;
  box-shadow: none;
  margin: 0;
  padding: 0;
  background-color: var(--color-white);
}

.goals-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  &__item {
    margin-bottom: 16px;
    border-width: 0;
  }
}
