<ion-content [fullscreen]="true" class="grid-container">
  <div class="grid-container">
    @switch (view) {
      @case ('pin') {
        <div class="set-pin-container login-common-container">
          <ion-label class="title ion-text-center">{{'login.inputPin.header' | transloco }}</ion-label>

          <ng-container *ngTemplateOutlet="numKeyboardTmpl"></ng-container>

          <ion-button (click)="changePhone()" class="ion-button--text" expand="block" fill="clear">
            {{'login.inputPin.alternative' | transloco}}
          </ion-button>
        </div>
      }
      @case ('set-pin') {
        <div class="set-pin-container login-common-container">
          <ion-label class="title ion-text-center">{{'login.set-pin.header' | transloco}}</ion-label>

          <ng-container *ngTemplateOutlet="numKeyboardTmpl"></ng-container>
        </div>
      }
      @case ('phone') {
        <div class="login-container">
          <ion-label class="title">{{'login.inputPhone.header' | transloco}}</ion-label>
          <div class="phone-container">
            <ion-label class="phone-label">{{'login.inputPhone.label' | transloco}}</ion-label>
            <div class="phone-input-group">
              <ion-icon class="ion-icon--xxl phone-flag" size="large" src="/assets/icons/kz-phone.svg"></ion-icon>
              <ion-input #inputPhone class="phone-input" placeholder="000 000 00 00"
                         inputmode="numeric"
                         [(ngModel)]="maskedPhone"
                         [maskito]="phoneMask"
                         (ngModelChange)="onChangePhone()"
                         [maskitoElement]="phoneMaskPredicate"></ion-input>
            </div>
            @if (validation.errorPhone) {
              <div class="error-block has--error ion-text-center ion-margin-top">
                {{'login.inputPhone.error' | transloco}}
              </div>
            }
          </div>

          <div class="button-groups">
            @if (availableAuthenticators.includes('TELEGRAM')) {
              <ion-button (click)="sendCode(Authenticator.TELEGRAM)" [hxLoading]="isLoading.authenticators" class="ion-button--primary" expand="block">
                <ion-icon slot="start" src="/assets/icons/telegram.svg"></ion-icon>
                {{ 'login.action.sendCode.telegram' | transloco }}
              </ion-button>
            }

            @if (availableAuthenticators.includes('SMS')) {
              <ion-button (click)="sendCode(Authenticator.SMS)" [hxLoading]="isLoading.authenticators" class="ion-button--text" expand="block" fill="clear">
                {{ 'login.action.sendCode.sms' | transloco }}
              </ion-button>
            }
          </div>

          <ion-button (click)="view = 'pin'" class="ion-button--text" expand="block" fill="clear">
            {{'login.action.pin' | transloco}}
          </ion-button>
        </div>
      }
      @case ('code') {
        <div class="set-code-container login-common-container">
          <div class="login-header">
            <ion-label class="title">{{'login.set-code.header' | transloco}}</ion-label>
            <ion-label class="set-code-phone">{{'login.set-code.title' | transloco}} {{hiddenPhone}}</ion-label>
          </div>

          <div>
            <ion-row>
              <ion-input #inputCode class="set-code-input"
                         [class.active]="code?.length ?? 0 > 0"
                         [class.invalid]="invalidCode"
                         inputmode="numeric"
                         [(ngModel)]="code"
                         [maskito]="codeMask"
                         [maskitoElement]="codeMaskPredicate"
                         (ngModelChange)="onCodeChange()"
                         placeholder="0 0 0 0 0"/>
            </ion-row>
            <ion-row>
              @if (time > 0) {
                <ion-label class="set-code-timer">{{'login.set-code.timer' | transloco: {time: time} }}</ion-label>
              } @else {
                <a (click)="resendCode()">
                  <ion-label class="set-code-timer" style="text-decoration: underline;">
                    {{ 'common.resend_code' | transloco }}
                  </ion-label>
                </a>
              }
            </ion-row>
          </div>

          <ion-row>
            <ion-button (click)="changePhone()" class="ion-button--text set-code-change-phone-btn" fill="clear">
              <div>{{'login.set-code.change.phone' | transloco}}</div>
            </ion-button>
          </ion-row>
        </div>
      }
      @case ('selector') {
        @if (brands.length > 1) {
          <div>
            @for (br of brands; track br.id) {
              <ion-chip (click)="selectBrand(br)" [outline]="true">
                @if (brand?.id === br.id) {
                  <ion-icon name="checkmark-circle-outline" color="primary"></ion-icon>
                }
                <ion-label>{{ br.title }}</ion-label>
              </ion-chip>
            }
          </div>
        }
        @if (brand) {
          <div>
            <small>{{'login.address' | transloco}}</small>
            <div>
              @for (st of stores; track st.id) {
                <ion-chip (click)="selectStore(st)" [outline]="true">
                  @if (storeId === st.id) {
                    <ion-icon name="checkmark-circle-outline" color="primary"></ion-icon>
                  }
                  <ion-label>{{ st.title | uiLabel }}</ion-label>
                </ion-chip>
              }
            </div>
          </div>
        }
      }
    }
  </div>
</ion-content>

<ng-template #numKeyboardTmpl>
  <div>
    <ion-row class="circle-container">
      @for (item of pinValues; track $index) {
        <ion-col class="ion-no-padding" size="auto">
          <div class="pin-circle" [class.active]="item.active" [class.invalid]="item.invalid"></div>
        </ion-col>
      }
    </ion-row>
    @if (pinValues[pinValues.length - 1].invalid) {
      <div class="error-block has--error ion-text-center ion-margin-top">
        {{'login.inputPin.error' | transloco}}
      </div>
    }
  </div>

  <ion-row class="keyboard-container">
    @for (i of [0, 1, 2]; track $index) {
      <ion-row class="ion-no-padding row-container">
      @for (j of [0, 1, 2]; track $index) {
        <ion-col class="ion-no-padding" size="auto">
          <button class="circle-btn" (click)="setPinValue((i * 3 + j + 1))">{{(i * 3 + j + 1)}}</button>
        </ion-col>
      }
      </ion-row>
    }
    <ion-row class="ion-no-padding row-container">
      <ion-col class="ion-no-padding" size="auto">
        <button class="circle-btn" (click)="removeLastPinValue()">
          <ion-icon src="/assets/icons/tag-cross.svg"></ion-icon>
        </button>
      </ion-col>
      <ion-col class="ion-no-padding" size="auto">
        <button class="circle-btn" (click)="setPinValue(0)">0</button>
      </ion-col>
      <ion-col class="ion-no-padding" size="auto">
        <button class="circle-btn back-btn">
          <ion-icon src="/assets/icons/arrow-right.svg"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-row>
</ng-template>
