<ion-content [fullscreen]="true" class="grid-container">
  <div class="grid-container">
    @switch (view) {
      @case ('pin') {
        <div class="set-pin-container login-common-container">
          <ion-label class="title ion-text-center">{{ 'Вход через мобильный номер' }}</ion-label>

          <ng-container *ngTemplateOutlet="numKeyboardTmpl"></ng-container>

          <ion-button (click)="changePhone()" class="ion-button--text" expand="block" fill="clear">
            {{ 'Вход через мобильный номер' }}
          </ion-button>
        </div>
      }
      @case ('set-pin') {
        <div class="set-pin-container login-common-container">
          <ion-label class="title ion-text-center">{{ 'Придумайте PIN-код' }}</ion-label>

          <ng-container *ngTemplateOutlet="numKeyboardTmpl"></ng-container>
        </div>
      }
      @case ('phone') {
        <div class="login-container">
          <ion-label class="title">{{ 'Вход через мобильный номер' }}</ion-label>
          <div class="phone-container">
            <ion-label class="phone-label">{{ 'Введите мобильный номер' }}</ion-label>
            <div class="phone-input-group">
              <ion-icon class="ion-icon--xxl phone-flag" size="large" src="/assets/icons/kz-phone.svg"></ion-icon>
              <ion-input #inputPhone class="phone-input" placeholder="000 000 00 00"
                         inputmode="numeric"
                         [(ngModel)]="maskedPhone"
                         [maskito]="phoneMask"
                         (ngModelChange)="onChangePhone()"
                         [maskitoElement]="phoneMaskPredicate"></ion-input>
            </div>
            @if (validation.errorPhone) {
              <div class="error-block has--error ion-text-center ion-margin-top">
                {{ 'Некорректный формат номера' }}
              </div>
            }
          </div>

          <div class="button-groups">
            <ion-button (click)="sendCode()" class="ion-button--primary"
                        expand="block">
              <ion-icon slot="start" src="/assets/icons/telegram.svg"></ion-icon>
              {{ 'Код через Telegram' }}
            </ion-button>
          </div>

          <ion-button (click)="view = 'pin'" class="ion-button--text" expand="block" fill="clear">
            {{ 'PIN-код арқылы кіру' }}
          </ion-button>
        </div>
      }
      @case ('code') {
        <div class="set-code-container login-common-container">
          <div class="login-header">
            <ion-label class="title">{{ 'Кодты енгізіңіз' }}</ion-label>
            <ion-label class="set-code-phone">{{ 'Біз оны нөмірге жібердік' }} {{ hiddenPhone }}</ion-label>
          </div>

          <div>
            <ion-row>
              <ion-input #inputCode class="set-code-input"
                         [class.active]="code?.length ?? 0 > 0"
                         [class.invalid]="invalidCode"
                         inputmode="numeric"
                         [(ngModel)]="code"
                         [maskito]="codeMask"
                         [maskitoElement]="codeMaskPredicate"
                         (ngModelChange)="onCodeChange()"
                         placeholder="0 0 0 0 0"/>
            </ion-row>
            <ion-row>
              @if (time > 0) {
                <ion-label class="set-code-timer">{{ 'кодты қайта жіберу {{time}}с кейін' }}</ion-label>
              } @else {
                <a (click)="resendCode()">
                  <ion-label class="set-code-timer" style="text-decoration: underline;">
                    {{ 'қайта жіберу' }}
                  </ion-label>
                </a>
              }
            </ion-row>
          </div>

          <ion-row>
            <ion-button (click)="changePhone()" class="ion-button--text set-code-change-phone-btn" fill="clear">
              <div>{{ 'Басқа нөмірден кіру' }}</div>
            </ion-button>
          </ion-row>
        </div>
      }

    }
  </div>
</ion-content>

<ng-template #numKeyboardTmpl>
  <div>
    <ion-row class="circle-container">
      @for (item of pinValues; track $index) {
        <ion-col class="ion-no-padding" size="auto">
          <div class="pin-circle" [class.active]="item.active" [class.invalid]="item.invalid"></div>
        </ion-col>
      }
    </ion-row>
    @if (pinValues[pinValues.length - 1].invalid) {
      <div class="error-block has--error ion-text-center ion-margin-top">
        {{ 'Код дұрыс емес' }}
      </div>
    }
  </div>

  <ion-row class="keyboard-container">
    @for (i of [0, 1, 2]; track $index) {
      <ion-row class="ion-no-padding row-container">
        @for (j of [0, 1, 2]; track $index) {
          <ion-col class="ion-no-padding" size="auto">
            <button class="circle-btn" (click)="setPinValue((i * 3 + j + 1))">{{ (i * 3 + j + 1) }}</button>
          </ion-col>
        }
      </ion-row>
    }
    <ion-row class="ion-no-padding row-container">
      <ion-col class="ion-no-padding" size="auto">
        <button class="circle-btn" (click)="removeLastPinValue()">
          <ion-icon src="/assets/icons/tag-cross.svg"></ion-icon>
        </button>
      </ion-col>
      <ion-col class="ion-no-padding" size="auto">
        <button class="circle-btn" (click)="setPinValue(0)">0</button>
      </ion-col>
      <ion-col class="ion-no-padding" size="auto">
        <button class="circle-btn back-btn">
          <ion-icon src="/assets/icons/arrow-right.svg"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-row>
</ng-template>
