.logo-icon {
  position: absolute;
  left: 16px;
  height: 36px;
  color: var(--zaman-persian-green);
  width: 36px;
}

.user-icon {
  position: absolute;
  color: var(--zaman-persian-green);
  right: 16px;
}
