<ion-tabs>

  <ion-tab-bar class="tab_bar layout_tabs" slot="bottom">
    <ion-tab-button tab="dashboard" href="/main/dashboard">
      <ion-icon class="ion-icon--xxl" size="large" src="/assets/icons/main-page.svg"></ion-icon>
      <ion-label class="tab_bar__tab">Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="chat" href="/main/chats">
      <ion-icon class="ion-icon--xxl" size="large" src="/assets/icons/message.svg"></ion-icon>
      <ion-label class="tab_bar__tab">Chat</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="goals" href="/main/goals">
      <ion-icon class="ion-icon--xxl" size="large" src="/assets/icons/receipt-text.svg"></ion-icon>
      <ion-label class="tab_bar__tab">Goals</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
